# API Keys 
.env

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/
.venv/

# Vector DB
chroma_db/
faiss_index/

# Temporary & data files
temp.pdf
data/
*.pdf

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log